---
// pages/index.astro
Astro.redirect('/th'); // หรือ '/th'

---

<html>
  <head>
    <title>Redirecting...</title>
    <script>
      window.location.href = "/th";
    </script>
  </head>
  <body>
    <p>Redirecting to Thai version... <a href="/th">Click here</a></p>
  </body>
</html>