---
import FeatureOne from '../assets/hero-toolsbox.png'
import FeatureTwo from '../assets/hero-engineerteam.png'
import FeatureThree from '../assets/hero-homebuilding.png'

const { t } = Astro.props;

---

<section class="solutions" id="features">
    <div class="container">
      
        <div class="row">
            <div class="sol-wrap one-third column">
                <div class="sol-media m-margin">
                    <img src={FeatureOne.src} alt="Prospect">
                </div>
                <h3 class="h3-title">{t.features.quality.title }</h3>
                <p>{t.features.quality.description }</p>
            </div>
            <div class="sol-wrap one-third column">
                <div class="sol-media m-margin">
                    <img src={FeatureTwo.src} alt="Prospect">
                </div>
                <h3 class="h3-title">{t.features.service.title }</h3>
                <p>{t.features.service.description }</p>
            </div>
            <div class="sol-wrap one-third column">
                <div class="sol-media m-margin">
                    <img src={FeatureThree.src} alt="Prospect">
                </div>
                <h3 class="h3-title">{t.features.reliability.title }</h3>
                <p>{t.features.reliability.description }</p>
            </div>
        </div>
    </div>
</section>


<style lang="scss">
    .solutions{
        padding-top: 50px;
        .container{
            background-color: var(--tenary);
            border-radius: 20px;
            padding: 40px;
        }
        h3, p{
            color: #fff;
        }
        img{
            width: 150px;
        }
    @media (max-width:700px) {
        text-align: center;
        .sol-wrap{
            padding: 20px;
        }
    }
}
</style>